@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Qanelas Soft;
}
#banner{
    background: rgba(86, 99, 218, 0.04);
}
#features{
    background: rgba(86, 99, 218, 0.04);
}
/*   NAVBAR    */
#startClick{
    border-radius: 35px;
    background: #5663DA;
    width: 195.37px;
    height: 50px;
    flex-shrink: 0;
}
/*   BANNER     */
#line{
    background: #5663DA;
    width: 55px;
    height: 3px;
}
#bannerFirstWrite{
    color: #081D3A;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
}
#bannerSecWrite{
    color: #5663DA;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 63px;
}
#lineWrite{
    color: #5663DA;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#bannerBtn{
    border-radius: 35px;
    background: #5663DA;
}
#bannerPicture{
    border-radius: 80px 80px 200px 80px;
    background-image: url('../public/banner-picture.png');
}
#firstCollap{
    flex-shrink: 0;
    border-radius: 12px;
    box-shadow: 0px 50px 100px 0px rgba(120, 89, 245, 0.14);
}
#bannerFirstPicture{
    border-radius: 12px 12px 0px 0px;
    background: url('../public/first-picture.png'), lightgray 50% / cover no-repeat;
}
#firstCollapWrite{
    color: #081D3A;
    font-family: Qanelas Soft;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#secCollap{
    display: inline-flex;
    padding: 11px 28px 10px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 50px 100px 0px rgba(120, 89, 245, 0.14);
}
#thirdCollap{
    display: inline-flex;
    padding: 11px 28px 10px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 50px 100px 0px rgba(120, 89, 245, 0.14);
}
/*   MULTICOLOR   */
#multiFirstWrite{
    color: #081D3A;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}
#multiBtn{
    border-radius: 35px;
    background: #5663DA;
}
#props{
    border-radius: 8px;
    border: 1px solid #E8E8E8;
    background: #FFF;
}
#props:hover {
    border-radius: 8px;
    background: #46ACFF;
}
/*   STEPS        */
#stepTwo{
    background: rgba(86, 99, 218, 0.04);
}
#stepFirstWrite{
    color: #081D3A;
    font-feature-settings: 'liga' off;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
}
#stepSecWrite{
    color: #081D3A;
    font-feature-settings: 'liga' off;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
}
#stepThirdWrite{
    color: #081D3A;
    font-feature-settings: 'liga' off;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
}
#stepHeader{
    color: #081D3A;
    font-feature-settings: 'liga' off;
    font-size: 30px;
    font-style: normal;
    font-weight:900;
    line-height: 49px;
}
#stepOnePicture{
    border-radius: 50px 50px 140px 50px;
    background-image: url('../public/step-one-picture.png');
}
#stepFirstCollap{
    border-radius: 15px;
    background: #FFF;
    box-shadow: -20px 60px 80px 0px rgba(86, 99, 218, 0.08);
}
#firstCollapInf{
    border-radius: 10px;
    background: #F4F5FF;
}
#stepTwoPicture{
    border-radius: 50px 50px 140px 50px;
    background-image: url('../public/step-two-picture.png');
}
#stepThreePicture{
    border-radius: 50px 50px 50px 140px;
    background-image: url('../public/step-three-picture.png');
}
#stepThreeWrite{
    color: #081D3A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
#circleWrite{
    color: #FFF;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.215px;
}
/*   FEATURES     */
#featuresFirst{
    border-radius: 16px;
    background: var(--gray-00, #FFF);
}
#featuresFirstPicture{
    border-radius: 10px;
    opacity: 0.10000000149011612;
    background: #5663da;
}
#featuresSec{
    border-radius: 16px;
    background: var(--gray-00, #FFF);
}
#featuresSecPicture{
    border-radius: 10px;
    opacity: 0.10000000149011612;
    background: #E283EA;
}
#featuresThird{
    border-radius: 16px;
    background: var(--gray-00, #FFF);
}
#featuresThirdPicture{
    border-radius: 10px;
    opacity: 0.10000000149011612;
    background: #FF9853;
}
#featuresFourth{
    border-radius: 16px;
    background: var(--gray-00, #FFF);
}
#featuresFourthPicture{
    border-radius: 10px;
    opacity: 0.10000000149011612;
    background: #46ACFF;
}
#featuresHeader{
    color: #081D3A;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}
#featuresParagh{
    color: #081D3A;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.800000011920929;
}
#container{
    width: 100%;
}
#slider{
    width: 400%;
}
.slides{
    flex-basis: 100%;
}
/*   LOGO         */
#logoFirstWrite{
    color: #081D3A;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
#logoSecWrite{
    color: #5663DA;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}